name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        oc:
          - "4.10"
          - "4.11"
          - "4.12"
          - "4.13"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Login to quay.io
        uses: docker/login-action@v2
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{ secrets.QUAY_IO_PASSWORD }}
      - name: Docker build
        uses: docker/build-push-action@v4
        with:
          context: "v${{ matrix.oc }}"
          file: "v${{ matrix.oc }}/Dockerfile"
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: |
            docker.io/appuio/oc:v${{ matrix.oc }}
            quay.io/appuio/oc:v${{ matrix.oc }}
